//  textColor 
$secondaryTextColor: #363940;
$textColor: #5B5B5B;
$btnColorTextReset: #FF5656;
$accentColorText: #95A1BB;
$cardTextColor: #A3A4A7;

// color 
$accentColor: #2D9CDB;
$primaryColor: #fff;
$secondaryColor: #CAD1E1;

// colorBtn
$bgBtnColor: #BDBDBD;
$bgMainColor: rgba(248, 248, 248, 0.859);
$mainBorderColor: #C4C4C4;



$breakpoints: (xs: 576px,
	sm: 768px,
	md: 1280px,
	lg: 1440px);

%container {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding: 7px 40px;
	// @include media (xs) {
	// 	padding: 0 35px;
	// }

	// @include media (sm) {
	// 	padding: 0 50px;
	// }
	// @include media (md) {
	// 	padding: 0 15px;
	// }

}