.aside {
	margin-block-start: 16px;


	// .aside__scroll
	&__scroll {
		overflow-y: scroll;
	}

	// .aside__wrapper
	&__wrapper {
		@include flex ($flex-direction: column);
		background-color: $bgMainColor;
		border-radius: 4px;
		padding: 0 30px 25px;
		margin-right: 5px;
	}

	// .aside__buttons
	&__buttons {
		@include flex (center, center);
		gap: 53px;
		margin: 20px 0;
	}

	// .aside__btn
	&__btn {
		@include wh (180px, 40px);
	}

	// .aside__button
	&__button {
		@include wh (180px, 40px);
	}

	// .aside__inner
	&__inner {
		@include flex ($flex-direction: column);
	}

	// .aside__content
	&__content {
		@include flex ($flex-direction: column);
		margin-block-end: 15px
	}


	&__text+&__text {
		margin-block-start: 17px;
	}

	// .aside__title
	&__title {
		@include font (36px, 17px, $text-align: center);
		letter-spacing: 2px;
		margin-block-start: 40px;
		margin-block-end: 20px;
	}
}