.footer {
	background-color: $accentColor;
	padding: 88px 20px 70px 20px;


	// .footer__grid
	&__grid {
		display: grid;
		grid-template-columns: repeat(4, minmax(min-content, max-content));
		column-gap: 140px;

		margin-bottom: 50px;
	}

	// .footer__content
	&__content {
		@include flex ($flex-direction: column);
	}

	// .footer__title
	&__title {
		font-size: 18px;
		line-height: 20px;
		margin-bottom: 50px;
	}

	// .footer__list
	&__list {
		display: flex;
		flex-direction: column;
	}

	// .footer__item
	&__item {}

	&__item+&__item {
		margin-top: 40px;
	}

	// .footer__link
	&__link {
		@include font (18px, 20px, 400, left, none);
		color: $primaryColor;
		max-width: 294px;
	}

	// .footer__copyright
	&__copyright {
		@include font (18px, 20px, 500, left, uppercase);
		color: rgba(255, 255, 255, 0.42);
	}
}