.btn {
	@include flex (center, center);
	@include font (12px, 20px, 500, center, uppercase);
	
	border-radius: 4px;
	color: $accentColor;
	@include border (1px, solid, $accentColor);
	&:hover {
		border: none;
		background-color: $accentColor;
		color: $primaryColor;
	}


	&--bg {
		@include background (url(../images/page-2/main/main-arrow.png));
		object-fit: cover;
		background-size: auto;
		margin-left: 10px;
		background-color: $bgBtnColor;
	}

	&--transparent {		
		background-color: transparent;		
	}
}

