.form {

	// .form__title
	&__title {
		@include font (27px, 17px);
		letter-spacing: 1px;
		margin-bottom: 20px;
	}

	// .form__textarea
	&__textarea {
		resize: none;
		@include wh (426px, 78px);		
		padding: 2px 0px 0 8px;
		margin-bottom: 8px;
		border-radius: 4px;

		&::placeholder {
			}
	}

	// .form__email
	&__email {
		padding-left: 20px;
		@include wh (300px, 25px);		
		margin-right: 10px;
		
		&::placeholder {
			font-weight: 400;
			}
	}

	// .form__btn
	&__btn {
		background-color: $accentColor;
		color: $primaryColor;
		@include wh(112px, 25px);
	}
}