.input {
	@include wh (160px, 45px);
	@include font (16px, 22px, 400, center);
	color: $accentColorText;
	@include border (1px, solid, $secondaryColor);
	border-radius: 4px;
	padding-left: 10px;

	&:placeholder {
		@include font (16px, 22px, 300);
		color: $accentColorText;
	}

	&:focus {
	outline: 1px solid $secondaryColor;
	}
}