.radio {

	// .radio__btn
	&__btn {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}

	&__btn+&__label {
		display: inline-flex;
		align-items: center;
		user-select: none;
	}

	&__btn+&__label::before {
		@include pseudo;
		display: inline-block;
		@include wh(25px);
		border-radius: 4px;
		flex-shrink: 0;
		flex-grow: 0;
		@include border(1px, solid, $secondaryColor);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 50%;

	}

	&__btn:checked+&__label::before {
		@include background (url(../images/page-2/main/checked-arrow.png));
		border-color: $accentColor;
		background-size: 16px;
	}

	// .radio__label
	&__label {}
}