.search {
	@include flex();
	

	// .search__box
	&__box {
		position: relative;
	}

	// .search__img-btn
	&__img-btn {
		@include wh (20px);
		@include pos (absolute, $top: 53%, $left: 4%);
		transform: translate(-50%, -50%);
		@include background (url(../images/page-2/main/search.png));
		border: none;
	}


	// .search__btn
	&__btn {


		@include wh (122px, 55px);
	}


	// .search__input
	&__input {
		@include wh (780px, 55px);
		padding-inline-start: 45px;
		
		text-align: left;

		&::placeholder {
			font-weight: 400;

		}
	}
}