.text {
	@include font (18px, 28px, 400);
	color: #000000;

	&--light {
		color: $primaryColor;
	}

	&--date {
		@include font (9px, 13px, 400, center);
		color: $accentColorText;
		margin-bottom: 7px;
	}

	&--bold {
		@include font (14px, 15px, 500);
		color: $accentColor;
	}

	&__small {
		@include font (12px, 15px, 400);
	}
}