.product-card {
	& + & {
		margin-top: 9px;
	}

	// .product__grid
	&__grid {
		display: grid;
		grid-template-columns: 1fr 150px;
		margin-right: 56px;
	}

	// .product-crd__box
	&__box {
		@include flex ();
		@include border (1px, solid, $mainBorderColor);
	}


	// .product-card__wrap
	&__wrap {
		@include flex (center, center);
		height: 100px;
		min-width: 100px;
		background-color: $mainBorderColor;
		@include border (1px, solid, $mainBorderColor);

		border-radius: 4px 0px 0px 4px;
	}

	// .product-card__img
	&__img {}

	// .product-card__inner
	&__inner {
		@include flex (space-between,$flex-direction: column);
		padding: 2px 2px 1px 10px;
		@include border (1px, solid, $mainBorderColor);

	}

	// .product-card__content
	&__content {
		@include flex ();
		margin-bottom: 12px;

	}


	// .product-card__lot
	&__lot {
		@include font (12px, 13px, 400, center);
		color: $accentColor;
		margin-right: 2px;
	}

	// .product-card__title
	&__title {
		@include font (12px, 13px, 700, center);
		color: $accentColorText;
	}

	// .product-card__text
	&__text {
		
		color: $cardTextColor;
		
	}

	// .product-card__btn
	&__btn {		
		align-self: flex-end;
		@include wh (100px, 25px);
		background-color: $accentColor;
		@include font (10px, $text-align: left);
		letter-spacing:1px;
		padding-left: 7px;
		color: $primaryColor;		
		position: relative;
		justify-content: flex-start;

		&::after {
			@include pseudo;
			@include background (url(../images/page-2/main/btn-arrow.png));
			@include wh(13px, 8px);
			@include pos (absolute, $top:34%, $right:4%);
			transform: translateX(-50%);
		}
	}

	// .product-card__wrapper
	&__wrapper {
		@include border (1px, solid, $mainBorderColor);
		margin-left: 1px;
		padding: 5px 0 0 10px;
	}

	// .product-card__link
	&__link {
		
		color: $primaryColor;
		@include wh (130px, 26px);
		background-color: $accentColor;
		border-radius: 4px;
		@include flex (center, center);
		margin-top: 13px;
	}
}